# Environment Variables cho English Quiz App

# API Base URLs
NEXT_PUBLIC_API_URL=https://api.facourse.com/fai/api
NEXT_PUBLIC_AUTH_API_URL=https://api.facourse.com/fai/v1/account
NEXT_PUBLIC_USER_PROFILE_URL=https://api.facourse.com/fai/v1/user
NEXT_PUBLIC_QUIZ_API_URL=https://api.facourse.com/fai/v1/test

# WebSocket URLs
NEXT_PUBLIC_WS_STT_URL=wss://api.facourse.com/fai/v1/speaking/ws

# Server-only base URL
QUIZ_API_URL=https://api.facourse.com/fai/v1/test

# App Info
NEXT_PUBLIC_APP_NAME=LUYỆN THI VSTEP
NEXT_PUBLIC_APP_DESCRIPTION=Nền tảng luyện thi tiếng Anh VSTEP

# Environment
NODE_ENV=development

# AI Models & Keys
AI_MODEL=gemini
OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyAyHjuPTinACc-RHz-KSxM016yqeWTK1aE
NEXT_PUBLIC_AI_MODEL=local

# SEO & Analytics
NEXT_PUBLIC_SITE_URL=https://vstep.fastreak.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-B7BEXMV3E5